.dashboard-container {
  width: 100vw;
  height: 100vh;
}

.dashboard-container .menu-container {
  min-height: 100vh;
  width: 10rem;
  position: absolute;
  left: 0;
  background-color: var(--color-secundary-darker);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 0;
}

.menu-container img {
  align-self: center;
  width: 4rem;
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 3rem;
  border-top: 1px solid var(--color-line);
}

.menu a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 8rem;
  align-items: center;

  border-bottom: 1px solid var(--color-line);

  transition: background-color 0.2s;
}

.menu a:hover {
  background-color: var(--color-line);
}

.menu button {
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 8rem;
  align-items: center;

  border-top: 1px solid var(--color-line);

  transition: background-color 0.2s;
}

.menu button:hover {
  background-color: var(--color-line);
}

.dashboard-content {
  margin-left: 10rem;
  overflow-y: auto;
  height: 100vh;
}
