:root {
  font-size: 60%;
  --color-background: #f5f5f5;
  --color-shadow: #00000009;
  --color-primary-lighter: #688cdb;
  --color-primary-light: #5074b6;
  --color-primary: #4492c7;
  --color-primary-dark: #0e4572;
  --color-primary-darker: #1e4161;
  --color-secundary-delete: #ff0000;
  --color-secundary: #044cd3;
  --color-secundary-dark: #046bbf;
  --color-secundary-darker: #3b4f69;
  --color-title-in-primary: #000000;
  --color-text-in-primary: #4492c7;
  --color-text-in-secundary: #ffffff;
  --color-text-title: #26344d;
  --color-text-complement: #99a698;
  --color-text-base: #585858;
  --color-line-in-white: #e6e6f0;
  --color-line: #5e6ba7;
  --color-input-background: #f8f8fc;
  --color-button-text: #ffffff;
  --color-box-base: #ffffff;
  --color-box-border: #d6d6d6;
  --color-box-footer: #fafafc;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100vh;
}

body {
  background: var(--color-background);
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
}

body,
input,
button,
p,
textarea {
  font: 500 1.6rem Montserrat;
  color: var(--color-text-base);
}

input {
  padding-left: 0.5rem;
}

button {
  background: none;
  border: 0;
  outline: none;
  cursor: pointer;
}

@media (min-width: 700px) {
  :root {
    font-size: 62.5%;
  }
}
