.edit-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 5rem 8rem;
  background-color: var(--color-box-base);
}

.edit-content {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.edit-content form {
  min-width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
  border: 1px solid var(--color-box-border);
  border-radius: 0.8rem;
  box-shadow: 5px 5px var(--color-shadow);
}

.edit-content #edit {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2rem 3rem;
}
.edit-content #edit-personal {
  padding: 2rem 3rem;
}

.edit-content #edit .left,
.right {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.edit-content #edit .right {
  margin-left: 10rem;
}

.edit-content form input {
  width: 100%;
  height: 48px;
  outline: 0;
  border-width: 0 0 2px;
  border-color: var(--color-box-border);
}

.left label {
  margin-top: 2rem;
}

.right .first-row,
.second-row {
  display: flex;
  flex-direction: row;
}

.right .first-row input[name="street"] {
  width: 75%;
}

.right .first-row input[name="housenumber"] {
  width: 20%;
}

.right .second-row input[name="district"] {
  width: 47%;
}

.right .second-row input[name="city"] {
  width: 47%;
}

form .update {
  width: 15rem;
  height: 5rem;
  margin-bottom: 3rem;
  border-radius: 0.6rem;
  color: var(--color-button-text);
  background: var(--color-primary-dark);
  transition: background-color 0.2s;
  align-self: center;
}
.delete {
  width: 15rem;
  height: 5rem;
  margin-bottom: 3rem;
  border-radius: 0.6rem;
  color: var(--color-button-text);
  background: var(--color-secundary-delete);
  transition: background-color 0.2s;
}

form .update:hover {
  background-color: var(--color-primary);
}

.description {
  width: 100%;
  margin-top: 30px;
}
